body {

  font-family: sans-serif, system-ui;
  font-size: 150%;
  color: white;
  margin: 0;
  overflow: hidden;

}

#startBtn {
  width: 300px;
  height: 120px;
  padding: 0px;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -150px;
}

#main {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgb(1, 0, 18);
  background: linear-gradient(0deg, #03131f, #337ea6);
  animation: gradient 15s ease 1;
  background-size: 400% 400%;
  animation-fill-mode: forwards;
}

.glow {
  position: relative;
  left: -20%;
  top: 100px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #0000d9;
  box-shadow:
    0 0 5px 15px #0000d9,
    0 0 15px 35px #00008b,
    0 0 30px 45px #00003f;
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.move {
  animation-name: move;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-delay: 5s;
}

.bubble {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid white;
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: 1;
  position: relative;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.blob1 {
  animation-name: blob1, shake1;
  animation-duration: 1.6s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.blob2 {
  animation-name: blob2, shake2;
  animation-duration: 1.7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.blob3 {
  animation-name: blob3, shake3;
  animation-duration: 1.8s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.image-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.image-wrapper.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@keyframes blob1 {
  0% {
    height: +0px;
    width: +0px;
    top: 0px;
    opacity: 0;
  }

  25% {
    height: +4px;
    width: +4px;
    top: -10px;
    opacity: 1;
  }

  85% {
    opacity: 0.8;
  }

  100% {
    height: 28px;
    width: 28px;
    top: -200px;
    opacity: 0;
  }
}

@keyframes blob2 {
  0% {
    height: +0px;
    width: +0px;
    top: 0px;
    opacity: 0;
  }

  30% {
    height: +4px;
    width: +4px;
    top: -10px;
    opacity: 1;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    height: 28px;
    width: 28px;
    top: -220px;
    opacity: 0;
  }
}

@keyframes blob3 {
  0% {
    height: +0px;
    width: +0px;
    top: 0px;
    opacity: 0;
  }

  25% {
    height: +6px;
    width: +6px;
    top: -10px;
    opacity: 1;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    height: 30px;
    width: 30px;
    top: -180px;
    opacity: 0;
  }
}

@keyframes shake1 {
  0% {
    left: 0px;
  }

  25% {
    left: -2px;
  }

  50% {
    left: +3px;
  }

  75% {
    left: -6px;
  }

  100% {
    left: +5px;
  }
}

@keyframes shake2 {
  0% {
    left: 0px;
  }

  30% {
    left: -3px;
  }

  55% {
    left: +4px;
  }

  80% {
    left: -5px;
  }

  100% {
    left: +5px;
  }
}

@keyframes shake3 {
  0% {
    left: -0px;
  }

  10% {
    left: +5px;
  }

  70% {
    left: -6px;
  }

  80% {
    left: +6px;
  }

  100% {
    left: -8px;
  }
}

@keyframes glow {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    left: 120%;
    opacity: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
